<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" /> -->
    <!-- <link href='https://fonts.googleapis.com/css?family=Anton|Passion+One|PT+Sans+Caption' rel='stylesheet' -->
    <!-- type='text/css'> -->
    <!-- <link href="/admin/css/main.css?v=1.1" rel="stylesheet" type="text/css" /> -->
    <!-- <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"> -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" -->
    <!-- integrity="sha384-KyZXEAg3QhqLMpG8r+oUhJs/ZtLdj2n3z5fTXFeXn5z5z1zcftm3ZG5hjqY8trr5R" crossorigin="anonymous"> -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" -->
    <!-- integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous"> -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css"> -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css">
</head>

<!-- <style>
    .inputDnD {
        .form-control-file {
            position: relative;
            width: 100%;
            height: 100%;
            min-height: 6em;
            outline: none;
            visibility: hidden;
            cursor: pointer;
            background-color: #c61c23;
            box-shadow: 0 0 5px solid currentColor;

            &:before {
                content: attr(data-title);
                position: absolute;
                top: 0.5em;
                left: 0;
                width: 100%;
                min-height: 6em;
                line-height: 2em;
                padding-top: 1.5em;
                opacity: 1;
                visibility: visible;
                text-align: center;
                border: 0.25em dashed currentColor;
                transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
                overflow: hidden;
            }

            &:hover {
                &:before {
                    border-style: solid;
                    box-shadow: inset 0px 0px 0px 0.25em currentColor;
                }
            }
        }
    }

    /* // PRESENTATIONAL CSS */
    body {
        background-color: #f7f7f9;
    }
</style> -->

<body>
    <!-- <div class="container p-y-1">
        <div class="row m-b-1">
            <div class="col-sm-6 offset-sm-3">

                <button type="button" class="btn btn-primary btn-block"
                    onclick="document.getElementById('inputFile').click()">Add Image</button>

                <div class="form-group inputDnD">
                    <form action="/admin/upload" method="POST" enctype="multipart/form-data">
                        <label class="sr-only" for="inputFile">File Upload</label>

                        <div class="input-upload">

                            <input id="inputFile" name="inputFile" accept="image/*"
                                class="form-control" type="file" />

                        </div>
                        <!-- <input type="file" class="form-control-file text-primary font-weight-bold" id="inputFile"
                            accept="image/*" data-title="Drag and drop a file" onchange="readAndCropImage(this)" name="file"> -->
                        <!-- <button type="submit" class="btn btn-primary mt-2">Submit</button>
                    </form>

                </div>
                
                <div class="container">
                    <img id="croppedImage" src="" alt="Cropped Image">
                </div>
                <button type="button" class="btn btn-success btn-block" onclick="saveCroppedImage()">Save Cropped
                    Image</button>


            </div>

            
        </div>
    </div>  -->
    <!-- <div id="imageCardTable"></div> -->

    <div class="container p-y-1">
        <div class="row m-b-1">
            <div class="col-sm-6 offset-sm-3">
                <button type="button" class="btn btn-primary btn-block"
                    onclick="document.getElementById('inputFile').click()">Add Image</button>
                <div class="form-group inputDnD">
                    <label class="sr-only" for="inputFile">File Upload</label>
                    <input type="file" class="form-control-file text-primary font-weight-bold" id="inputFile"
                        accept="image/*" onchange="readAndCropImage(this)" data-title="Drag and drop a file">
                </div>
    
                <!-- Parent container for alignment -->
                <div class="row">
                    <!-- Image cropping container -->
                    <div class="col-md-6">
                        <div class="container">
                            <img id="croppedImage" src="" alt="Cropped Image">
                        </div>
                    </div>
    
                    <!-- "image-preview" container -->
                   <!-- Container for previewing the cropped image -->
<!-- Container for previewing the cropped image -->
<div class="col-md-6">
    <div class="image-preview">
        <!-- The cropped image will be displayed here -->
        <img id="croppedImagePreview" src="" alt="Cropped Image">
    </div>
</div>

<!-- Place the "Save" button outside the image preview container -->
<div class="col-md-6">
    <button type="button" class="btn btn-primary btn-block" id="saveButton">Save</button>
</div>

                </div>
                <input type="text" value="<%= productId %>" id="product_Id" hidden>
                <!-- Button to save the cropped image -->
                <button type="button" class="btn btn-success btn-block" onclick="saveCroppedImage()">Save Cropped
                    Image</button>
            </div>
        </div>
    </div>
    
</body>



</html>