<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login or Register</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/user/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/user/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/user/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/user/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/user/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/user/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/user/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/user/css/style.css" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
        rel="stylesheet">
    <style>
        /* @import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap'); */

        body {
            background-image: url(/user/img/login/background.jpg);
            background-size: cover;
            background-repeat: no-repeat;
        }

        .center-div {
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .btn.btn-success {
            padding: .4em 1em;
        }

        form {
            padding: 0 2em;
        }

        #login.title>span {
            font-size: .8em;
        }
    </style>
</head>

<body>
    <!-- navbar -->

    <div class="container ">
        <div class="row mt-3">
            <div class="col-lg-3 col-md-3">
                <div class="header__logo">
                    <!-- <a href="/views/user/index.ejs"> -->
                        <!-- <img src="/user/img/logo.png" alt="" style="width: 80px; height:auto; border: 1px solid; height: 70px;"> -->
                        <h2
                            style="color: rgb(0, 100, 100); font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;">
                            <b>BOSTON</b>
                        </h2>
                    </a>
                </div>
            </div>


            <%- include('./layouts/navItems.ejs') -%>



        </div>
        <div class="canvas__open"><i class="fa fa-bars"></i></div>
    </div>
    </header>

    <!-- navbar end -->

    <!-- login section -->
    <div class="container center-div">
        <div class="border border-dark py-5 px-3 col-lg-4 col-md-6 col-sm-8">
            <div class="title pb-4 text-center">
                <h2 class="font-weight-bold" style="color: rgb(255, 255, 255);">Login </h2>
                <span style="font-size: small; color: #ffffff;">Log in for an existing account</span>

                
            </div>

            <% if (typeof message !== 'undefined') { %>
                <%if(message === ''){%>
                 
                    <h6>
                      <%= message %>
                    </h6>
                  
                <%}else {%>
                  <div class="alert alert-danger">
                    <p>
                      <%= message %>
                    </p>
                  </div>
                <%}%>
                <% } %>

                <% if(typeof successMessage!=='undefined' ){ %>
                    <p class="alert alert-success">
                        <%=successMessage %>
                    </p>
                    <% } %>

                    <form action="" method="post">
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Enter Email" name="email" id="email" required>
                            <p id="para1" style="color: rgb(211, 116, 7);"></p>
                        </div>
                        <div class="form-group">
                        
                            <input type="password" class="form-control" placeholder="Enter Password" id="password" name="password" required>
                            <p id="para2" style="color: rgb(255, 132, 0);"></p>
                        </div>

                        <input type="submit" class="btn btn-success mt-3" value="Login" onclick="show()">
                        <a href="/lostPassEmailPage" class="btn btn-peace mt-3" ">Lost Password.?</a>
            </form>
            <div class=" text-center pt-3">
                            <span style="font-size: small; color: #5740bd;">Don't have an account? </span>
                            <a href="/register" style="color: #5740bd;">Register Here</a>
            </div>
        </div>
    </div>
    <!-- login section end -->



    <!-- Footer Section Begin -->
    <footer class=" footer">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-6 col-sm-6">
                                            <div class="footer__about">
                                                <div class="footer__logo">

                                                    <h2
                                                        style="color: rgb(0, 100, 100); font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif  ;">
                                                        <b>BOSTON</b>
                                                    </h2>
                                                </div>
                                                <p>The customer is at the heart of our unique business model, which
                                                    includes
                                                    design.
                                                </p>
                                                <a href="#"><img src="img/payment.png" alt=""></a>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                                            <div class="footer__widget">
                                                <h6>Shopping</h6>
                                                <ul>
                                                    <li><a href="#">Clothing Store</a></li>
                                                    <li><a href="#">Trending Shoes</a></li>
                                                    <li><a href="#">Accessories</a></li>
                                                    <li><a href="#">Sale</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-md-3 col-sm-6">
                                            <div class="footer__widget">
                                                <h6>Shopping</h6>
                                                <ul>
                                                    <li><a href="#">Contact Us</a></li>
                                                    <li><a href="#">Payment Methods</a></li>
                                                    <li><a href="#">Delivary</a></li>
                                                    <li><a href="#">Return & Exchanges</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                                            <div class="footer__widget">
                                                <h6>NewLetter</h6>
                                                <div class="footer__newslatter">
                                                    <p>Be the first to know about new arrivals, look books, sales &
                                                        promos!</p>
                                                    <form action="#">
                                                        <input type="text" placeholder="Your email">
                                                        <button type="submit"><span
                                                                class="icon_mail_alt"></span></button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 text-center">
                                            <div class="footer__copyright__text">
                                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                                <p>Copyright ©
                                                    <script>
                                                        document.write(new Date().getFullYear());
                                                    </script>2020
                                                    All rights reserved | This template is made with <i
                                                        class="fa fa-heart-o" aria-hidden="true"></i> by <a
                                                        href="https://colorlib.com" target="_blank">Colorlib</a>
                                                </p>
                                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </footer>
                                <!-- Footer Section End -->


                                
                               
<!-- <script>
    document.addEventListener('DOMContentLoaded', function() {
        // var nameInput = document.querySelector('input[name="name"]');
        var emailInput = document.querySelector('input[name="email"]');
        // var mobileInput = document.querySelector('input[name="mno"]');
        var passwordInput = document.querySelector('input[name="password"]');
        // var registerButton = document.querySelector('button[type="submit"]');

        // nameInput.addEventListener('blur', function() {
        //     validateName();
        // });

        emailInput.addEventListener('blur', function() {
            validateEmail();
        });

        // mobileInput.addEventListener('blur', function() {
        //     validateMobile();
        // });

        passwordInput.addEventListener('blur', function() {
            validatePassword();
        });

        // function validateName() {
        //     var name = nameInput.value.trim();
        //     if (name === '') {
        //         nameInput.setCustomValidity('Name is required');
        //     } else if (!/^[a-zA-Z]+$/.test(name)) {
        //         nameInput.setCustomValidity('Name can only contain letters');
        //     } else {
        //         nameInput.setCustomValidity('');
        //     }
        // }

        function validateEmail() {
            var email = emailInput.value.trim();
            if (email === '') {
                emailInput.setCustomValidity('Email is required');
            } else if (!/^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$/.test(email)) {
                emailInput.setCustomValidity('Invalid email format');
            } else {
                emailInput.setCustomValidity('');
            }
        }

        // function validateMobile() {
        //     var mobile = mobileInput.value.trim();
        //     if (mobile === '') {
        //         mobileInput.setCustomValidity('Mobile is required');
        //     } else if (!/^\d{10}$/.test(mobile)) {
        //         mobileInput.setCustomValidity('Mobile can only contain digits');
        //     } else {
        //         mobileInput.setCustomValidity('');
        //     }
        // }

        function validatePassword() {
            var password = passwordInput.value.trim();
            if (password === '') {
                passwordInput.setCustomValidity('Password is required');
            } else {
                passwordInput.setCustomValidity('');
            }
        }

        registerButton.addEventListener('click', function() {
            // validateName();
            validateEmail();
            // validateMobile();
            validatePassword();
        });
    });
</script> -->

<script>
    function show(){
        const email = document.getElementById("email").value;
        const password = document.getElementById("password").value;
        const para1 = document.getElementById("para1");
        const para2 = document.getElementById("para2");
        if(email==""){
            para1.innerText = "Enter your email"
        }else if(!/^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$/.test(email)){
            para1.innerText = "Enter a valid email"
        }
        if(password==""){
            para2.innerText = "Enter your password"
        }
    }
</script>
    
                              
                            
</body>

</html>